# NestJS / Node
node_modules/
dist/
*.env.local
*.env
!*.env.example

# SQLite DB
data/*.sqlite
data/*.sqlite-wal
data/*.sqlite-shm

# Client (Angular)
client/node_modules/
client/dist/
client/.angular/

# TypeScript build cache
*.tsbuildinfo

# Misc
*.log
.DS_Store
